body {
  background-color: #f8f8ff !important;
}

.splash-title {
  align-items: center;
  margin: 250px 0;
}

.splash-container h1 {
  text-align: center;
  color: #434b54;
}

.splash-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.splash-inner button {
  width: 90%;
  height: 10%;
  background-color: #3378c2;
  color: white;
  padding: 1%;
}

.signup {
  text-decoration: none;
  height: 10%;
  padding: 1%;
}

nav {
  margin: 0;
  background-color: #3378c2;
  color: white;
}

.container-fluid nav {
  background-color: #3378c2 !important;
  color: white;
}

.container-fluid nav a {
  color: white;
}

/* Entity */
.title-entity {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  color: #434b54;
  font-size: 19px;
}

.entities {
  font-size: 17px;
}

i {
  color: white;
}

.icons i {
  color: black;
}

/* Group */

.modal-body {
  margin: 2%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  color: #434b54;
  font-size: 19px;
}

.group-index .modal-body {
  margin: 2% 3%;
  background-color: white;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 3%;
}

.container-fluid h2 {
  text-align: center;
  margin: 0 auto;
  padding: 2%;
}

.add {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5fb523;
  font-size: 19px;
}

.add button {
  margin: 2%;
  width: 96%;
  padding: 2%;
  background-color: #5fb523;
  border: 1px solid white;
  color: white;
  font-size: 19px;
}

.add-underline {
  text-decoration: none;
  color: white;
}

.add-group {
  margin-top: 2%;
}

.input-field {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.add-group .input-field {
  margin: 20px;
}

.create-group {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.input-field label {
  flex: 0.5;
  margin-right: 10px;
}

.no-underline {
  text-decoration: none;
  color: #434b54;
}

.inner {
  margin: 4%;
  background-color: white;
  padding: 2%;
}
